.error {
    color: red !important;
    border: 1px solid red !important;
}

label.error{
    border: none !important;
    margin-top: 4px;
}

.required-star:after {
    color: red;
    content: " *";
}
